[submodule "glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "creature-runtime"]
	path = libs/creature-runtime
	url = https://github.com/kestrelm/Creature_Cocos2DX.git
	branch = master
[submodule "toml"]
	path = libs/tinytoml
	url = https://github.com/mayah/tinytoml.git
	branch = master
[submodule "cpp-colors"]
	path = libs/cpp-colors
	url = https://github.com/gchudnov/cpp-colors.git
	branch = master
[submodule "flatbuffers"]
	path = libs/flatbuffers
	url = https://github.com/google/flatbuffers.git
	branch = master
[submodule "ttvfs"]
	path = libs/ttvfs
	url = https://github.com/fgenesis/ttvfs.git
	branch = master
[submodule "glclasses"]
	path = libs/glclasses
	url = https://github.com/sidit77/GLClasses
	branch = main
