[submodule "glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "resourcemanager"]
	path = libs/resourcemanager
	url = https://github.com/Johnnyborov/ResourceManager.git
	branch = master
